@import 'Variable';
@import 'Mixin';

.i_close{
    font-size: 2rem;
    line-height: 17px;
    font-weight: bold;
    text-decoration: none;
    @include position(absolute, $top:10px, $right:10px);
    @include vendor-prefixes(transform, rotate(45deg));
    &:hover{
        color: $black-color;
    }
}

.i_add{
    .btn_upload{
        border: 2px solid $grayshade1-color;
        border-radius: 100%;
        width: 30px;
        height: 30px;
        display: block;
        text-align: center;
        color: $grayshade1-color;
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 28px;
        padding-left: 1px;
        cursor: pointer;
        &:hover{
            background : $grayshade1-color;
            color: $white-color;
        }
    }
}
