@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i,800');

@import 'Variable';
@import 'Mixin';

body{
    font-family: 'Open Sans', sans-serif;
    overflow-y: scroll;
}

a{
    text-transform:uppercase;
    color:$redshade1-color;
    &:hover{
        color:$redshade2-color;
    }
}

p{margin:0;}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

._p20{padding:20px;}

._m0{margin:0!important;}
._mr0{margin-right:0!important;}

._mr15{margin-right:15px;}

._mb30{
    margin-bottom:30px;
}

._mt15{
    margin-top:15px;
}

._mr10{
    margin-right: 10px;
}

.disable{pointer-events:none;opacity:0.5;cursor:none;}

.btn{
    cursor:pointer;
    border-radius:0;
    border: 0;
    text-transform: uppercase;
    box-shadow:none!important;
    font-size:0.75rem;
    min-width: 100px;
    padding:10px 30px;
    &.btn-primary{
            background: $redshade1-color;
            border-color:$redshade1-color;                      
        &:hover, &:not(.disabled):active{
            background: $redshade2-color;
            border-color:$redshade2-color;
        }
    }
}

.mes_error{
    color: $red-color;
    font:0.75rem arial;
    margin:5px 0;
    &:empty{
        display:none; 
    }
    &.api_error{
        margin:0 0 14px;
    }
}

.txt_Signin{
    padding:20px 0;
    margin-top:26px;
    border-top:1px solid rgba(0, 0, 0, 0.1);
    max-width:400px;
    font-size:0.875rem;
    strong{
        display: block;
    }
}

.btn_socialmedia{
    a{
        color: $white-color;
        margin-right:10px;
        font-size:0.875rem;
        &._fb{
            background-color: $fb-color;
            &:hover{
                background-color: $fbhover-color;
            }
        }
        
        &._twitter{
            background-color: $twitter-color;
            &:hover{
                background-color: $twitterhover-color;
            }
        }
        
        &._google{
            background-color: $google-color;
            &:hover{
                background-color: $googlehover-color;
            }
        }
    }
}




//**form section**//
input{
    box-shadow:none!important;
}
.form-group{
    font-size:0.875rem;
    label{
        margin-bottom:5px;
        text-transform:uppercase;
        font-size: 0.75rem;
    }
}
.form-control{
    border-radius:0;
    font-size: 0.875rem;
    
    &:focus{
        border-color:$grayshade1-color;
        box-shadow: none;
    }
}
.form-check{
    font-size:0.875rem;
    text-transform:uppercase;
    .custom-checkbox .custom-control-indicator{
        border-radius:0;
    }
    .custom-control-indicator{
        top:3px;
    }
    .custom-control-input:checked ~ .custom-control-indicator{
        background-color: $redshade1-color;
    }
}

.btn-white{
    border:1px solid $grayshade5-color;
    color: $blackshade1-color;
    &:hover{
        color: $black-color;
    }
}

.btn-link{
    color: $grayshade1-color;
    &:hover{
        color: $redshade2-color;
    }
}

.title_invoice{
    margin:15px 0;
    font-size:1.125em;
}

.field_box{
    background: $redshade1-color;
    color: $white-color;
    //height: 100%;
    text-align: center;
    font-size: 11px;
    cursor: pointer;
    //@include position(relative);
    padding: 10px;
    margin-top: 10px;
    text-transform: uppercase;
    &:hover:before{
        /*content: 'EDIT';
        width: 100%;
        text-align: center;
        background: rgba(0, 0, 0, 0.1);
        font-size: 0.75rem;
        padding: 3px 0;
        @include position(absolute, $top:0, $left:0);*/
    }
    &.box_invoicelogo{
        justify-content: center;
    }
    &.multiline{
        height: 51px;
    }
    &.ac{
        height:100%;
        justify-content: center;
    }
    &.data{
        background: $green-color;
    }
}

.custom-checkbox {
    .custom-control-input{
        &:checked{
            ~ .custom-control-indicator{
              border: 0; 
              background-color: $redshade1-color;
            }
        }
    }
    .custom-control-indicator{
        @include vendor-prefixes(border-radius, 0);
        background-color : $white-color;
        border:1px solid $grayshade5-color;
    }
     
}

._title{
    text-transform: uppercase;
}
._subtitle{
    text-transform: uppercase;
}

[name='countrycode']{
    text-align: center;
}

@media (min-width: 992px) {
    ._title{
        color: $redshade1-color;
        font-weight: 300;
        &._s{
            padding: 15px 15px 0;
        }
    }
    .ad-md-show{
        display: none;
    }
}
@media (max-width: 991px) {
    ._title{
        background: $redshade1-color;
        color: $white-color;
        padding:8px 15px;
        font-size: 0.8125rem;
    }
    ._subtitle{
        font-size: 1rem;
    }
    .ad-md-hide{
        display:none;
    }
    .ad-md-show{
        display:block;
    }
}