/***Color***/
$white-color: #ffffff;

$black-color: #000000;

$grayshade1-color: #8E8E8E;
$grayshade2-color: #CCCCCC;

$red-color: red;
$redshade1-color: #D01D15;
$redshade2-color: #BB0C04;

$green-color: #4ED120;